.row > div {
    height: 120px;
    cursor: pointer;
    transition: all 0.3s;
    font-size: 2rem;
}

.row > div:hover{
    background-color: rgba(0, 0, 0, 0.084);
    transform: scale(1.1);
}

.hiding{
    display: none;
}
.juego{
    aspect-ratio: 1/1;
}
body{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}